.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-header {
  margin-bottom: 30px;
  width: 800px;
}

.project-content {
  display: flex;
  justify-content: center;
}

.markdown {
  width: 800px;
}

.markdown p {
  color: var(--color-text-muted);
  font-size: 14px;
  margin-bottom: 15px;
}

.markdown li {
  color: var(--color-text-muted);
  font-size: 14px;
  margin: 0;
}

table {
  color: var(--color-text-muted);
  font-size: 14px;
  margin: 0;
}

ul ul {
  padding-left: 2em;
}


.markdown h1 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: 15px;
  color: var(--color-h1);
}

.markdown h2 {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: 15px;
  color: var(--color-h2);
}

/* .project-header h2 {
  font-size: 50px;
} */

/* h3 {
  font-size: 20px;
} */

.markdown > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
